<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <script>
        sessionStorage.setItem('path', 'https://localhost:44395')
        window.rootpath = "@(Url.Content("~"))";
    </script>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-1">
        <a class="navbar-brand" href="/Home/index">Navbar</a>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/test">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Help/index">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    @*@Html.Partial("_LoginPartial")*@

<div class="container body-content mt-5">
    <div class="offset-md-3 col-md-9 font-bold">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div>
            <div class="col-md-9 text-center font-bold">
                <div>
                    <p>
                        Copyright © @DateTime.Now.Year Expense Calculator. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
