<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Rajesh">
    <meta name="keywords" content="Expense Template">
    <title>Expense Demo</title>
    <link href="~/Content/Bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Layout/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/Layout/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Layout/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/Layout/theme.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <script>
        window.rootpath = "@(Url.Content("~"))";
    </script>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <div class="logo">
                            <label class="text-primary text-bold" style="font-size:22px">EXPENSE CALCULATOR</label>
                        </div>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        
                        <li class="btn_T_Dashboad"><a href="#"> <i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                        <li class="btnAllTransactions"><a href="#"><i class="fas fa-chart-bar"></i>All Transactions</a></li>
                        <li class="has-sub">
                            <a class="js-arrow btnTenentDetails" href="#">
                                <i class="fas fa-table"></i>Tenent Details
                                <i class="fas fa-angle-down dashboardAngle" style="float: right;"></i>
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li class="btnRentAgreement"> <a href="#">Rental Agreement</a> </li>
                                <li class="btnDocuments"> <a href="#">Documents</a> </li>
                            </ul>
                        </li>

                        <li class="btnHouseDetails"><a href="#"><i class="fas fa-home"></i>House Details </a></li>
                        <li class="btnEmcyContact"><a href="#"><i class="fas fa-calendar-alt"></i>Emergency Contact</a></li>
                        <li class="btnProximity"><a href="#"><i class="fas fa-map-marker-alt"></i>Proximity</a></li>
                        <li class="btnRaiseReq"><a href="#"><i class="far fa-comment"></i>Raise Request</a></li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="button.html">Button</a></li>
                                <li><a href="badge.html">Badges</a></li>
                                <li><a href="tab.html">Tabs</a></li>
                                <li><a href="card.html">Cards</a></li>
                                <li><a href="alert.html">Alerts</a></li>
                                <li><a href="progress-bar.html">Progress Bars</a></li>
                                <li><a href="modal.html">Modals</a></li>
                                <li><a href="switch.html">Switchs</a></li>
                                <li><a href="grid.html">Grids</a></li>
                                <li><a href="fontawesome.html">Fontawesome Icon</a></li>
                                <li><a href="typo.html">Typography</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo"><label class="text-primary text-bold">EXPENSE CALCULATOR</label></div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="btn_T_Dashboad"><a href="#"> <i class="fas fa-tachometer-alt"></i>Dashboard</a></li>

                        <li class="btnAllTransactions"> <a href="#"> <i class="fas fa-chart-bar"></i>All Transactions</a> </li>
                        <li class="has-sub">
                            <a class="js-arrow btnTenentDetails" href="#">
                                <i class="fas fa-table"></i>Tenent Details
                                <i class="fas fa-angle-down dashboardAngle" style="float: right;"></i>
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li class="btnRentAgreement"> <a href="#">Rental Agreement</a> </li>
                                <li class="btnDocuments"> <a href="#">Documents</a> </li>
                            </ul>
                        </li>
                        <li class="btnHouseDetails"> <a href="#"> <i class="fas fa-home"></i>House Details </a> </li>
                        <li class="btnEmcyContact"> <a href="#"> <i class="fas fa-calendar-alt"></i>Emergency Contact </a> </li>
                        <li class="btnProximity"> <a href="#"> <i class="fas fa-map-marker-alt"></i>Proximity </a> </li>
                        <li class="btnRaiseReq"> <a href="#"> <i class="far fa-comment"></i>Raise Request </a> </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header">
                                <input class="au-input au-input--xl" type="text" name="search"
                                       placeholder="Search here..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <!-- message -->
                                    <div class="noti__item js-item-menu">
                                        @*<i class="zmdi zmdi-comment-more"></i>*@
                                        <i class="far fa-bell text-primary"></i>
                                        <span class="quantity">3</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Settings -->
                                    <div class="noti__item js-item-menu">
                                        <i class="fas fa-compress text-primary"></i>
                                    </div>
                                    <!-- Calculator -->
                                    <div class="noti__item js-item-menu">
                                        <i class="fas fa-calculator text-primary"></i>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>Simple Calculator</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div id="calculator">
                                                    <!-- Screen and clear key -->
                                                    <div class="top">
                                                        <div class="screen"></div>
                                                        <span class="clear">C</span>
                                                    </div>
                                                    <div class="keys">
                                                        <!-- operators and other keys -->
                                                        <span>7</span>
                                                        <span>8</span>
                                                        <span>9</span>
                                                        <span class="operator">+</span>
                                                        <span>4</span>
                                                        <span>5</span>
                                                        <span>6</span>
                                                        <span class="operator">-</span>
                                                        <span>1</span>
                                                        <span>2</span>
                                                        <span>3</span>
                                                        <span class="operator">÷</span>
                                                        <span>0</span>
                                                        <span>.</span>
                                                        <span class="eval">=</span>
                                                        <span class="operator">x</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="noti__item js-item-menu">
                                        <i class="fas fa-cog text-primary"></i>
                                        @*<span class="quantity">1</span>*@
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/Images/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/Images/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/Images/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer"> <a href="#">See all emails</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/Images/Profile.jpg"
                                                 class="img-circle" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">john doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Images/Profile.jpg"
                                                             class="img-fluid img-thumbnail" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name"> <a href="#">john doe</a> </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#"> <i class="zmdi zmdi-account"></i>Account </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#"> <i class="zmdi zmdi-settings"></i>Setting </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#"> <i class="zmdi zmdi-money-box"></i>Billing </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#"> <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div id="RenderContent" class="main-content">
                @RenderBody()
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    <footer>
        <div>
            <div class="offset-md-3 col-md-9 text-center font-bold">
                <div>
                    <p>
                        Copyright © @DateTime.Now.Year Expense Calculator. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/Jquery/jQuery.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/Layout/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Scripts/Layout/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/Layout/main.js"></script>
    <script src="~/Scripts/RestAPI/ApiDirectory.js"></script>
    <script src="~/Scripts/RestAPI/ManageAjax.js"></script>

    @Scripts.Render("~/bundles/Mainjs")
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/Scripts/jQuery")
        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
