<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Appland Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Images/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    @Styles.Render("~/Content/css")
    <!--Landing Page CSS -->
    <link href="~/Content/LandingPage/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/aos/aos.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/styles.css" rel="stylesheet" />
</head>
<body>

    <script>
        sessionStorage.setItem('path', 'https://localhost:44395')
        window.rootpath = "@(Url.Content("~"))";
    </script>

    <div id="loginToast"><div class="fade border w-25" data-delay="2000" id="tstNotifyUser" style="position: absolute;top: 8rem;right: 20px;z-index: 1;">
    <div class="toast-body" id="toastBody"><div class="font-weight-bold">gfhfghfghf</div></div>
</div></div>

    @*@Html.Partial("_LoginPartial")*@
    @RenderBody()
    <div class="container body-content mt-5">
        <hr />
        <footer>
            <div>
                <div class="col-md-9 text-center font-bold">
                    <div>
                        <p>
                            Copyright © @DateTime.Now.Year <strong><span>Expense Calculator</span></strong>. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Landing Page Scripts -->
    <script src="~/Content/LandingPage/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/LandingPage/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/LandingPage/aos/aos.js"></script>
    <script src="~/Scripts/LandingPage/main.js"></script>

    @*@Scripts.Render("~/bundles/Scripts")*@
    <script src="~/Scripts/RestAPI/ApiDirectory.js"></script>
    <script src="~/Scripts/RestAPI/ManageAjax.js"></script>
    <script src="~/Scripts/src/Registration.js"></script>
    <script src="~/Scripts/src/Login.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
